{% extends 'layouts/base.html' %}
{% block content %}

    <h1>Tasks</h1>
    <p>ipsum dolor sit amet consectetur adipisicing elit. Exercitationem soluta dicta dolore tempore eum maxime pariatur nobis, adipisci atque labore consequatur quia sapiente repellendus expedita? Iste, pariatur! Voluptatum, quos earum!</p>

    {% for task in tasks %}
        <h1>
            {% if task.done == False %}⌚{% else %}✅ {% endif %}
            {# Es un comentario Jinja2 Que no se va a ver #}
            {{task.title}}
        </h1>

        {% if task.done == False %}
            <small>Tarea Pendiente</small>
        {% else %}
            <small>Tarea Realizada</small>  
        {% endif %}

        <h4>{{task.description}}</h4>
        <h4>{{task.project.name}}</h4>
        <button>
            Delete
        </button>
        <button>
            ✅
        </button>

    {% endfor %}

{% endblock %}